@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-font: "Montserrat", sans-serif;
  --background-color: #fff9e7;
}

body,
html {
  margin: 0;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pimg1 {
  overflow: hidden;
  background-image: url("https://cdn.pixabay.com/photo/2017/11/16/08/02/led-2953665_1280.jpg");
  min-height: 100%;
  width: 100%;
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg2 {
  overflow: hidden;
  background-image: url("https://raw.githubusercontent.com/fkhan698/LED-Lights/main/images/exterior.jpeg");
  min-height: 100%;
  width: 100%;
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ptext {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: rgb(250, 248, 248);
  font-family: var(--primary-font);

  letter-spacing: 8px;
  text-transform: uppercase;
}

.title {
  font-size: 8rem;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  font-family: var(--primary-font);
}

.nav-links {
  display: flex;
  list-style: none;
  color: white;
}

.nav-links li {
  padding-left: 2rem;
  font-size: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.info {
  text-align: center;
  margin-top: 3rem;
  font-family: var(--primary-font);
  font-size: 3.5rem;
  line-height: 6rem;
}
.location-btn {
  margin-top: 9rem;
  margin: 0, auto;
  font: inherit;
  border: none;
  cursor: pointer;
  border: 2px solid #000;
  background-color: white;
  padding: 2rem;
  font-size: 1.25rem;
  font-family: var(--primary-font);
  font-weight: 500;
  border-radius: 50px;
}

.info2 {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.items {
  padding: 9rem;
  font-family: var(--primary-font);
  font-size: 2rem;
  line-height: 3.5rem;
}

.small-img {
  display: flex;
  width: 40%;
  height: 400px;
  margin-top: 2rem;
  margin-left: 10rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hours h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.hours-container {
  color: #000;
  padding: 5rem;
  background-color: #dfb7b7;
  align-items: center;
  font-size: 2em;
  font-family: var(--primary-font);
  margin: 1rem 13rem 9rem 13rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact-container {
  position: relative;
  width: 35%;
  height: 250px;
  text-align: center;
  top: 390px;
  bottom: 100px;
  left: 30px;
  right: 200px;

  border-style: var(--border-style);
  border-width: var(--border-width);
  border-radius: 2%;
  background-color: #dfb7b7;
}

.contact-info {
  color: #000;
  font-family: var(--primary-font);
  font-size: 15px;
  text-align: center;
}

.contact-info p {
  margin-top: 2rem;
}

#find-us {
  font-size: 2rem;
}
#directions:hover {
  color: #b89f5d;
}

footer {
  display: flex;
  height: 5vh;
  margin-top: 2rem;
  justify-content: space-evenly;
  color: black;
  font-family: var(--primary-font);
}

footer a:hover {
  color: #b89f5d;
}

@media screen and (max-width: 960px) {
  .title {
    font-size: 5rem;
  }
  .hours-container {
    display: flex;
    padding: 1rem;
    margin: 0rem 2rem 3rem 2rem;
  }
  .hours-container h1 {
    font-size: 1.2rem;
  }

  .small-img {
    width: 70%;
    height: 100%;
    margin-right: 10rem;
  }

  .info {
    font-size: 2rem;
  }
  .info2 {
    margin: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-container {
    margin: 0;
    top: 200px;
    padding: 4rem;
    width: 80%;
    height: 300px;
  }
  #find-us {
    font-size: 20px;
  }

  .contact-info p {
    font-size: 1rem;
  }
  footer {
    flex-direction: column;
    margin: 4rem;
  }
}
